cmp-win-mbcpuram {

} 

	cmp-win-mbcpuram .ody-wrap {

	} 



		cmp-win-mbcpuram .ody-wrap .obj-cat {
			margin: 10px 0;
		} 






	cmp-win-mbcpuram .cp-filters {
		margin: 10px 2px 10px 2px;
	}




		cmp-win-mbcpuram .cp-filters select {
			padding: 0 2px;
			border-radius: 5px;
		}




