cmp-win-vga {
	/* background: var( --bg-r );*/

} 
	cmp-win-vga .cp-filters {
		display: flex;
		margin: 40px 0px 20px 0px;

	}
		cmp-win-vga .cp-filters select {
			display: block;
			margin: 0px 2px;
			padding: 1px 2px;
			border-radius: 5px;
		}






